<!DOCTYPE HTML>
<html>
<%- partial('components/head') %>

<body>
<div class="blog">
  <div class="content">

    <%- partial('components/header') %>

    <main class="site-main posts-loop<% if (is_home()){ %> on-home<% } %><% if (is_post()){ %> on-post<% } %><% if (is_page()){ %> on-page<% } %>">
    <%- body %>
    </main>

    <%- partial('components/footer') %>
    <%- partial('components/googleanalytics') %>
    <%- partial('components/baiduanalytics') %>
  </div>
</div>
</body>
</html>